[submodule "prompt-support"]
	path = .bash/prompt-support
	url = git@github.com:mkofinas/prompt-support.git
[submodule "bash-themes"]
	path = .bash/bash-themes
	url = git@github.com:mkofinas/bash-themes.git
