# Readline Configuration

# Controls whether readline begins with a set of key bindings similar to Emacs
# or Vi. Editing-mode can be set to either emacs or Vi.
set editing-mode vi

# If set to On, readline performs filename matching and completion in a
# case-insensitive fashion.
set completion-ignore-case On

# If set to On, and completion-ignore-case is enabled, readline treats hyphens
# (-) and underscores (_) as equivalent when performing case-insensitive
# filename matching and completion.
set completion-map-case On

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous On

# If set to On, menu completion displays the common prefix of the list of
# possible completions (which may be empty) before cycling through the list.
set menu-complete-display-prefix on
Tab: menu-complete

# If set to On, a character denoting a file's type as reported by stat(2) is
# appended to the filename when listing possible completions.
set visible-stats On

# If  set  to  On, readline displays possible completions using different
# colors to indicate their file type.  The color definitions are taken from the
# value of the LS_COLORS environment variable.
set colored-stats On

# If  set  to On, this alters the default completion behavior when inserting a
# single match into the line.  It's only active when performing completion
# in the middle of a word.  If enabled, readline does not insert characters
# from the completion that match characters after point  in  the  word  being
# completed, so portions of the word following the cursor are not duplicated.
set skip-completed-text on

################################################################################
# Vi Normal Mode Mappings
set keymap vi-command

"\e[A": history-search-backward
"\e[B": history-search-forward
"k": history-search-backward
"j": history-search-forward

################################################################################
# Vi Insert Mode Mappings
set keymap vi-insert

"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char
